*{
    box-sizing: border-box;
}

.material-icons{
    color:rgb(183, 16, 16);
}

label{
    margin:3vw;
}

#min,#max{
    margin:2vw;
}

#guess{
    align-self: center;
    text-align: center;
    font-family: 'Lexend';
    width: 70%;
    height:20%;
    font-size:2em;
    border: 0.2rem solid rgb(167, 129, 81);
    background-color: rgb(243, 224, 200);
    border-radius: 3px;
}
#guess:focus{
    border:none;
}

body{
    font-family:Lexend;
    margin:5vh;
    background-color: rgb(243, 224, 200);
}

h1{
    font-family:Permanent Marker;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    
}

#setting{
    margin:2vw;
    color:black;
}
.middle{
    display: flex;
    flex-direction: column;
    width:30vw;
    padding:2vw;
    height:50vh;
}

#range{
    height:10vh;

}

#lives{
    text-align: center;
    background-color: rgb(184, 220, 220);
}

#input{
    text-align: center;
    background-color: rgb(192, 236, 192);
}

#hintContainer{
    text-align: center;
    background-color: rgb(236, 194, 200);
}


#features{
    width:90vw;
    display: flex;
    flex-direction: row;
}

#range{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gradient{
    height:2vh;
    width:40vw;;
    background-color: black;
}

button{
    border-radius: 3px;
    font-family: Lexend;
    background-color: burlywood;
    border:none;
    margin:2vw;
    height:2vw;
}

button:hover{
    background-color: rgb(167, 129, 81);
}
