*{
    box-sizing: border-box;
}

#settingMsg{
    color:rgb(183, 16, 16);
}

.input{
    text-align: center;
    font-family: 'Lexend';
    border: 0.2rem solid rgb(167, 129, 81);
    background-color: rgb(243, 224, 200);
    width: 50%;
    height:20%;
    font-size: clamp(1rem,2rem,2rem);

}

#guess{
    align-self: center;
    justify-content: center;
}

#guess:focus{
    border:none;
}

body{
    margin: 20px 20px;
    font-family:Lexend;
    background-color: rgb(243, 224, 200);
    display: grid;
    justify-content: center;
}

#settingContainer{
    margin: 0px 20px;
    display: flex;
    justify-content: flex-end;
}

h1{
    font-size: 2rem;
    @media only screen and (max-width: 750px) {
        font-size: 1.5rem;
    }
    text-align: center;
    margin: 8px 10px;
    font-family:Permanent Marker;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#setting{
    color:black;
}

#setting:hover{
    cursor:pointer;
}

@keyframes rotate{
    100%{transform:rotateZ(180deg)}
}

#setting:active{
    animation-name:rotate;
    animation-duration:1s;
}

.middle{
    width:50vw;
    height:35vh;
    display: flex;
    flex-direction: column;
}

#closeContainer{
    padding: 10px;
    display:flex;
    align-items: flex-start;
}

#range{
    margin:15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lives{
    text-align: center;
    background-color: rgb(184, 220, 220);
}

#input{
    text-align: center;
    background-color: rgb(192, 236, 192);
}

#hintContainer{
    padding:5px 0;
    display: none;
    text-align: center;
    background-color: rgb(202, 194, 236);
    grid-column-start: span 2;
    width: 100%;
    height:fit-content
}

#hintBtn{
    display:none;
}


#features{
    margin: 10px 0;
    width:100vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}


#gradient{
    width: 25vw;
    height: 10px;
    background-image: linear-gradient(to right, rgb(253, 253, 150), rgb(225, 40, 83));
}

button{
    color:black;
    width:fit-content;
    padding:5px 10px;
    margin:2vh 0;
    align-self: center;
    text-align:center;
    border-radius: 3px;
    font-family: Lexend;
    background-color: burlywood;
    border:none;
}

button:hover{
    cursor:pointer;
    background-color: rgb(167, 129, 81);
}

.sidebar{
    padding:0px 15px;
    position:fixed;
    height: 100vh;
    width:30vw;
    @media only screen and (max-width: 750px) {
        width:100vw;
    }
    top: 0;
    right: 0;
    background-color: rgb(242, 193, 193);
    overflow-y: auto;

}
.sidebarContent{
    overflow-x: hidden;
    text-align: center;
}

.sidebar[aria-hidden="true"] {
    transition: 200ms;
    transform: translateX(100%);
  }

.sidebar[aria-hidden="false"] {
    transition: 200ms;
}

#max, #min{
    margin: 0 20px;
}

